.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 408px;
  border: 1px solid $card-border-color;
  box-sizing: border-box;
  transition: all 300ms ease;

  &__img {
    width: 160px;
    height: 134px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: $pacifc-blue-color;
    color: $text-button-color;
    transition: all 300ms ease;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  &:hover {
    transform: scale(1.2);

    .card__button {
      background-color: #fff;
      border: 1px solid $pacifc-blue-color;
      color: $pacifc-blue-color;
    }

    .card__title {
      color: $card-title-hover-color;
    }

    .stars__reviews {
      color: $midnight-blue-color;
    }
  }

  &__content {
    width: 166px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 0;
    color: $midnight-blue-color;
  }

  &__code {
    color: $card-info-text-color;
    margin-bottom: 16px;
    margin-top: 0;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      vertical-align: bottom;
      color: $card-info-text-color;
    }

    &-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      text-align: right;
      vertical-align: bottom;
      color: $midnight-blue-color;
    }
  }
}
