.content {
  --column-count: 1;

  display: grid;
  box-sizing: border-box;
  padding: 50px 40px;
  grid-template-columns: repeat(var(--column-count), $grid-temp-col);
  justify-content: center;
  gap: $gap;
}

@media (min-width: $min-width-sm) {
  .content {
    --column-count: 2;
  }
}

@media (min-width: $min-width-md) {
  .content {
    --column-count: 3;
  }
}

@media (min-width: $min-width-lg) {
  .content {
    --column-count: 4;
  }
}
