.header {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 40px;
    height: 40px;
    margin: auto;
  }

  &__logo-link {
    line-height: 0;
  }
}

.nav {
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: $midnight-blue-color;
    line-height: 60px;
    transition: all 300ms ease;

    &:hover {
      color: $pacifc-blue-color;
    }
  }
}

.is-active {
  color: $pacifc-blue-color;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $pacifc-blue-color;
    left: 0;
    bottom: 0;
    border-radius: 8px;
  }
}
