$pacifc-blue-color: #00acdc;
$midnight-blue-color: #060b35;
$text-button-color: #fff;
$grid-temp-col: 200px;
$min-width-sm: 488px;
$min-width-md: 768px;
$min-width-lg: 1024px;
$gap: 46px 48px;
$grid-padding: 50px 40px;
