$pacifc-blue-color: #00acdc;
$midnight-blue-color: #060b35;
$text-button-color: #fff;
$card-border-color: #f3f3f3;
$card-title-hover-color: #34568b;
$card-info-text-color: #616070;
$header-padding: 0 50px;
$grid-temp-col: 200px;
$min-width-sm: 488px;
$min-width-md: 768px;
$min-width-lg: 1024px;
$gap: 46px 48px;
$grid-padding: 50px 40px;
